.image img {
  width: 60px;
  height: 25px;
  border-radius: 3px;
}

.card-header-flex {
  display: flex;
  gap: 20%;
}
.center {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.card-add {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.form-control-modif {
  color: aliceblue;
}

@media (max-width: 900px) {
  .card-header-flex {
    display: block;
  }
  .adapter {
    width: 80%;
  }
}
