{## UnivIt responsable : ismail errouk #}
{% extends 'admin/base-home.html' %}

{% block title %}
    Add Student
{% endblock title %}

{% block content %}

    {% load static %}

    <section class="content col-12">
        <div class="container-fluid col-12">

            <div class="row col-12">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary col-12">
                        <div class="card-header">
                            <h3 class="card-title">Add Role</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form action="{% url 'add_role_save' %}" method="POST" class="col-12">
                            <div class="col-12">
                                <label for="libelle">Libelle</label>
                                <input type="text" name="libelle" id="libelle"><br>
                            </div>
                            <div class="col-12">
                                <label for="description">Description</label>
                                <input type="text" name="description" id="description"><br>
                            </div>
                            {% csrf_token %}
                            <div class="col-12">
                                {{ form.as_p }}
                            </div>


                            <input class="btn btn-success" type="submit" value="Submit">
                        </form>
                    </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>

{% endblock content %}

{% block custom_js %}
    {% comment %} Checking if email and username already exists or not usin Ajax {% endcomment %}



{% endblock custom_js %}