{% extends "users/base-home.html" %}


{% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Nom Semestre</td>
            <td>Niveau</td>
            <td>
                <a href="{% url 'semestre_insert' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Add New
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for semestre in semestre_list %}
            <tr>
                <td>{{semestre.libelle_semestre}}</td>
                <td> <a href="{% url 'niveau_details' semestre.niveau.id  %}">{{semestre.niveau}}</a></td>
                <td>
                    <a href="{% url 'semestre_details' semestre.id  %}" class="btn text-secondary px-0 mr-4">
                        <i class="fa fa-info-circle"> </i>
                        Details
                    </a>

                    <a href="{% url 'semestre_update' semestre.id  %}"" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                   
                    <form action="{% url 'semestre_delete' semestre.id  %}"" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}


