{% extends "cours/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Ajout d'un Chapitre {% endblock title%}
{% block content %}
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="row mr-3">
                <div class="col col-12 text-center">
                    <h4 class="m-3">
                        Ajout d'un Chapitre
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-12 text-center d-none d-block">
                    <p class="m-3">
                        Veuillez remplir le formulaire ...
                    </p>
                    <hr class="mb-6">
                </div>   
            </div>
            <form class="row g-3" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group col-12 mr-3">
                    <div class="col-12 p-3"> {{new_chapitre.libelle|as_crispy_field}}</div>
                </div>
                <div class="form-group col-12 mr-3">
                    <div class="col-12 p-3"> {{new_chapitre.description|as_crispy_field}}</div>
                </div>
                <div class="form-group col-12 mr-3">
                    <div class="col-12 p-3"> {{new_chapitre.image|as_crispy_field}}</div>
                </div>
                {% comment %} <div class="form-group col-12 mr-3">
                    <div class="col-12 p-3"> {{new_chapitre.element_module|as_crispy_field}}</div>
                </div> {% endcomment %}
                <div class="form-group col-12 text-center mr-3">
                    <button type="submit" class="btn btn-primary col-11">Confirmer</button>
                </div>
            </form>
            {% comment %} <div class="row">
                {% for chapitre in chapitres %}
                <div class="col-md-4 col-sm-6 col-lg-3 d-none d-block p-3 text-center">
                    <div class="card">
                        <img
                            class="p-3"
                            src="{{chapitre.image}}"
                            alt="..."
                            />
                        <div class="card-body">
                          <h5 class="card-title">{{chapitre.libelle}}</h5>
                          <p class="card-text">{{chapitre.description|default_if_none:"---"}}</p>
                          <a href="#" class="btn btn-primary">Voir le Chapitre</a>
                        </div>
                    </div>
                </div> 
                {% endfor %}
            </div> {% endcomment %}
        </div>
    </div>

    <style>
        
    </style>
{% endblock content %}