{% extends "cours/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Ajout d'un modèle {% endblock title%}
{% block style %}
    <link href="{% static 'css/cours/add_traitement.css' %}" rel="stylesheet" type="text/css">
{% endblock style%}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "error" %}
                <div class="alert alert-danger" role="alert">
                    {{ message }} 
                    {% comment %} {{ message.tags }} {% endcomment %}
                </div>
            {% elif message.tags == "success" %}
                <div class="alert alert-success" role="alert">
                    {{ message }} 
                    {% comment %} {{ message.tags }} {% endcomment %}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-md-12 col-md-offset-3">
            <form id="msform" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <ul id="progressbar">
                    <li id="li-first" class="active">Type</li>
                    <li id="li-second">Traitement</li>
                    <li id="li-third">Modèle</li>
                </ul>
                <fieldset id='fs-1'>
                    <h2 class="fs-title">Choix du Type</h2>
                    {{new_traitement.titre_traitement|as_crispy_field}}
                    <h3 class="fs-subtitle">Choisissez un type</h3>
                    {% for radio in new_traitement.type_traitement %}
                        <div class="custom-control custom-radio my-3">
                            <input type="radio" class="custom-control-input" id="{{ radio.choice_label }}" name="type_traitement" value="{{ radio.choice_label }}">
                            <label class="custom-control-label" for="{{ radio.choice_label }}">{{ radio.choice_label }}</label>
                        </div> 
                    {% endfor %}
                    <input type="button" name="next" class="next-to-2 action-button" value="Suivant"/>
                </fieldset>
                <fieldset id='fs-image'>
                    <h2 class="fs-title">Ajout de l'image</h2>
                    <h3 class="fs-subtitle">Veuillez ajouter l'image</h3>
                    {{new_image.name_image|as_crispy_field}}
                    {{new_image.path_image|as_crispy_field}}
                    <input type="button" name="previous" class="previous-to-1 action-button-previous" value="Précédant"/>
                    <input type="button" name="next" class="next-to-3 action-button" value="Suivant"/>
                </fieldset>
                <fieldset id='fs-texte'>
                    <h2 class="fs-title">Ajout du texte</h2>
                    <h3 class="fs-subtitle">Veuillez ajouter le texte</h3>
                    {{new_traitement.label_traitement|as_crispy_field}}
                    <input type="button" name="previous" class="previous-to-1 action-button-previous" value="Précédant"/>
                    <input type="button" name="next" class="next-to-3 action-button" value="Suivant"/>
                </fieldset>
                <fieldset id='fs-qrcode'>
                    <h2 class="fs-title">Ajout du QR Code</h2>
                    <h3 class="fs-subtitle">Veuillez ajouter le QR Code</h3>
                    {{new_image.name_image|as_crispy_field}}
                    {{new_image.path_image|as_crispy_field}}
                    <input type="button" name="previous" class="previous-to-1 action-button-previous" value="Précédant"/>
                    <input type="button" name="next" class="next-to-3 action-button" value="Suivant"/>
                </fieldset>
                <fieldset id="fs-3">
                    <h2 class="fs-title">Ajout du modèle</h2>
                    <h3 class="fs-subtitle">Veuillez ajouter le modèle 3D</h3>
                    {{new_modele3d.titre_modele3d|as_crispy_field}}
                    {{new_file.path_file|as_crispy_field}}
                    <input type="button" name="previous" class="previous-to-2 action-button-previous" value="Previous"/>
                    <input type="submit" name="submit" class="submit action-button submit_traitement" value="Submit"/>
                    {% comment %} <button type="submit" name="submit" class="submit action-button">Submit</button> {% endcomment %}
                </fieldset>
            </form>
            {% comment %} <form id="msform" action="" method="post" enctype="multipart/form-data">
                <input type="submit" name="submit_t" class="submit action-button" value="Submit"/>
            </form> {% endcomment %}
        </div>
    </div>
    
    <script src=" {% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src=" {% static 'js/cours/add_traitement.js' %}"></script>

{% endblock content %}