{% extends "cours/base.html" %}

{% load static %}

{% block title %} Chapitres {% endblock title%}
{% block content %}
    {% comment %} {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }} 
            {{ message.tags }}
        </div>
        {% endfor %}
    {% endif %} {% endcomment %}

    {% if messages %}
        {% for message in messages %}
            {% comment %} {{ message.tags }} {% endcomment %}
            {% if message.tags == 'error' %}
                <div class="alert alert-danger" role="alert">
                    {{ message }} 
                    {% comment %} {{ message.tags }} {% endcomment %}
                </div>
            {% elif message.tags == "success" %}
                <div class="alert alert-success" role="alert">
                    {{ message }} 
                    {% comment %} {{ message.tags }} {% endcomment %}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="row mr-3">
                <form class="col-md-2 col-sm-6 d-none d-block"  action="#">
                    <select class="custom-select custom-select-sm form-control form-control-sm m-3" aria-label=".form-select-sm example">
                        <option selected>Filière</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </form>
                <div class="col-md-2 col-sm-6 d-none d-block">
                    <select class="custom-select custom-select-sm form-control form-control-sm m-3" aria-label=".form-select-sm example">
                        <option selected>Niveau</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-md-2 col-sm-6 d-none d-block">
                    <select class="custom-select custom-select-sm form-control form-control-sm m-3" aria-label=".form-select-sm example">
                        <option selected>Module</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-md-2 col-sm-6 d-none d-block">
                    <select class="custom-select custom-select-sm form-control form-control-sm m-3" aria-label=".form-select-sm example">
                        <option selected>Année</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <form class=" col-md-4 col-sm-12 d-none d-block" action="#">
                        <input class="form-control form-control-sm m-3" type="search" placeholder="Search ..." area-controls="dataTable" name="search">
                </form>
            </div>
        </div>
    </div>

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-12 d-none d-block text-center">
                    <p class="m-3">
                        Liste des Chapitres
                    </p>
                    <hr class="mb-6">
                </div>
            </div>
            <div class="row">
                {% for chapitre in chapitres %}
                <div class="col-md-4 col-sm-6 col-lg-3 d-none d-block p-3 text-center">
                    <div class="card">
                        {% if chapitre.image %}
                            <img
                            class="p-3"
                            src="{{chapitre.image.url}}"
                            alt="..."
                            height="210" 
                            width="100%"
                            />
                        {% else %}
                            <img
                            class="p-3"
                            src="img/cours/folder-files-and-folders-svgrepo-com.svg"
                            alt="..."
                            height="210" 
                            width="100%"
                            />
                        {% endif %}
                        {% comment %} <img
                            class="p-3"
                            src="{{chapitre.image.url}}"
                            alt="..."
                            height="210" 
                            width="100%"
                            /> {% endcomment %}
                        <div class="card-body">
                            <div class="row">
                                <div class="col col-12">
                                    <h5 class="card-title">{{chapitre.libelle}}</h5>
                                </div>
                                <div class="col col-12">
                                    <p class="card-text">{{chapitre.description|default_if_none:"---"}}</p>
                                </div>
                                <div class="col col-12 mt-3">
                                    <a href="{% url 'chapitre_details' chapitre.id %}" class="btn btn-primary">Voir le Chapitre</a>
                                </div>
                                <div class="col col-12 mt-2">
                                    <a href="{% url 'update_chapitre' chapitre.id %}" class="btn btn-success">Update</a>
                                </div>
                                <div class="col col-12 mt-2">
                                    <a href="{% url 'delete_chapitre' chapitre.id %}" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                {% endfor %}
            </div>
            <a href="{% url 'add_chapitre' %}" class="float">
                <i class="fa fa-plus my-float"></i>
                </a>
        </div>
    </div>

    <style>
        .float{
            position:fixed;
            width:60px;
            height:60px;
            bottom:40px;
            right:40px;
            background-color:#0077ff;
            color:#FFF;
            border-radius:50px;
            text-align:center;
            box-shadow: 2px 2px 3px #999;
        }
        .my-float{
            margin-top:22px;
        }
    </style>
{% endblock content %}